<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myt.mapper.ShiroUserMapper">

    <resultMap id="shiroResultMap" type="shiroUserPermission">
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="role" property="role" jdbcType="VARCHAR"/>
        <result column="permission" property="permission" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="shiro_user_fields">
      id,username,password,salt
    </sql>

    <insert id="insertUser" parameterType="ShiroUser" useGeneratedKeys="true" keyProperty="id">
        insert into shiro_user values (#{id},#{username},#{password},#{salt})
    </insert>

    <select id="selectUser" parameterType="java.lang.String" resultType="ShiroUser">
        select
        <include refid="shiro_user_fields"/>
        from shiro_user where 1=1
        <if test="username != null and username != ''">
            and username = #{username}
        </if>
    </select>
    <select id="queryShiroUserPermissionByUsername" resultMap="shiroResultMap" parameterType="string">
        SELECT distinct

        FROM
            shiro_user a
        LEFT JOIN shiro_user_role_relation b ON a.id = b.shiro_user_id
        LEFT JOIN shiro_role c ON b.shiro_user_id = c.id
        LEFT JOIN shiro_role_permission d ON c.id = b.shiro_role_id
        LEFT JOIN shiro_permission e ON d.shiro_permission_id = e.id
        where a.username = #{username}
    </select>
</mapper>
